div.angle1{
	height:0;
	width:0;
	position:relative;
	left:12px;
	border-width:5px 5px 15px 5px;
	border-style:solid;
	border-color:rgba(0,0,0,0) rgba(0,0,0,0) #aaa rgba(0,0,0,0);
	transform:rotate(-30deg);
}

div.angle2{
	height:0;
	width:0;
	position:relative;
	top:-20px;
	left:56px;
	border-width:5px 5px 15px 5px;
	border-style:solid;
	border-color:rgba(0,0,0,0) rgba(0,0,0,0) #aaa rgba(0,0,0,0);
	transform:rotate(30deg);
}

div.mike{
	background:#5DBE00;
	height:80px;
	width:80px;
	display: block;
	border-radius:40px;
	position:relative;
	top:-25px;
	-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
	border-radius: 40% 40% 40% 40% / 60% 60% 40% 40%;
}

div.eye{
	background:white;
	height:56px;
	width:56px;
	position:relative;
	top:5px;
	left:12px;
	border-radius:40px;
	border:1px solid black;
	display: block;
	z-index:2;
}

div.Cornea{
	background:#00A002;
	height:36px;
	width:36px;
	border-radius:40px;
	position:relative;
	top:10px;
	left:10px;
	z-index:3;
}

div.Pupil{
	background:white;
	height:20px;
	width:20px;
	border-radius:40px;
	position:relative;
	top:2px;
	left:2px;
	z-index:4;
}

div.hide{
	background:#5DBE00;
	height:41px;
	width:54px;
	display: block;
	border-radius:40px;
	position:relative;
	top:-27px;
	left:15px;
	z-index:1;
}

div.mouth{
	background:#545454;
	height:40px;
	width:50px;
	display: block;
	border-radius:40px;
	position:relative;
	top:-65.5px;
	left:16px;
}

div.mike:hover div.hide{
	background:#5DBE00;
	height:41px;
	width:60px;
	display: block;
	border-radius:40px;
	position:relative;
	top:-27px;
	left:12px;
	z-index:1;	
}

div.mike:hover div.Cornea{
	background:#00A002;
	height:36px;
	width:36px;
	border-radius:40px;
	position:absolute;
	top:10px;
	left:10px;
	z-index:3;
	-webkit-animation: eye_anima 4s; /* Chrome, Safari, Opera */
	animation: eye_anima 4s;
}

div.mike:hover div.Pupil{
	background:white;
	height:20px;
	width:20px;
	border-radius:40px;
	position:relative;
	top:4px;
	left:2px;
	z-index:4;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes eye_anima {
	0% {
		background:#00A002;
		height:36px;
		width:36px;
		border-radius:40px;
		position:relative;
		top:10px;
		left:10px;
		z-index:3;
	}
	10%{
		background:#00A002;
		height:36px;
		width:36px;
		border-radius:40px;
		position:absolute;
		top:10px;
		left:10px;
		z-index:3;
	}
	20%{
		background:#00A002;
		height:36px;
		width:36px;
		border-radius:40px;
		position:absolute;
		top:10px;
		left:20px;
		z-index:3;
	}
	100% {
		background:#00A002;
		height:36px;
		width:36px;
		border-radius:40px;
		position:absolute;
		top:10px;
		left:10px;
		z-index:3;
	}
}

/* Standard syntax */
@keyframes eye_anima {	
	0% {
		background:#00A002;
		height:36px;
		width:36px;
		border-radius:40px;
		position:relative;
		top:10px;
		left:10px;
		z-index:3;
	}
	10%{
		background:#00A002;
		height:36px;
		width:36px;
		border-radius:40px;
		position:absolute;
		top:10px;
		left:10px;
		z-index:3;
	}
	30%{
		background:#00A002;
		height:36px;
		width:36px;
		border-radius:40px;
		position:absolute;
		top:5px;
		left:18px;
		z-index:3;
	}
	50%{
		background:#00A002;
		height:36px;
		width:36px;
		border-radius:40px;
		position:absolute;
		top:13px;
		left:2px;
		z-index:3;
	}
	80% {
		background:#00A002;
		height:36px;
		width:36px;
		border-radius:40px;
		position:absolute;
		top:10px;
		left:10px;
		z-index:3;
	}
} 

div.mike:hover div.Eyelid{
	background:#5DBE00;
	height:30px;
	width:56px;
	border-radius:50px 50px 0 0;
	position:relative;
	z-index:5;
	-webkit-animation: eyelid_anima 0.3s; /* Chrome, Safari, Opera */
	animation: eyelid_anima 0.3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes eyelid_anima {
	0% {
		background:none;
		height:0px;
		width:56px;
		border-radius:50px 50px 0 0;
		position:relative;
		z-index:5;
	}
	100% {
		background:#5DBE00;
		height:30px;
		width:56px;
		border-radius:50px 50px 0 0;
		position:relative;
		z-index:5;
	}
}

/* Standard syntax */
@keyframes eyelid_anima {	
	0% {
		background:none;
		height:0px;
		width:56px;
		border-radius:50px 50px 0 0;
		position:relative;
		z-index:5;
	}
	100% {
		background:#5DBE00;
		height:30px;
		width:56px;
		border-radius:50px 50px 0 0;
		position:relative;
		z-index:5;
	}
} 

