	div.my{
		background-color:#689FC9;
		border-radius:15px;
		font-family:'Raleway';
		font-weight:600;
		transition-duration:3s;
	}

	div.my:hover {
		background-color:#98cFf9;
		box-shadow:0px 0px 15px 2px #98cFf9;
		transition-duration:0.5s;
	}

	div.fb{
		background-color:#3A5795;
		margin-left:20px;
		border-radius:15px;
		font-family:Arial;
		font-weight:600;
		transition-duration:3s;
	}

	div.fb:hover{
		background-color:#7A97d5;
		box-shadow:0px 0px 15px 2px #7A97d5;
		transition-duration:0.5s;
	}

	div.ttr{
		background-color:#55ACEE;
		border-radius:15px;
		margin-left:20px;
		font-family:'Pico';
		font-weight:600;
		transition-duration:3s;
	}

	div.ttr:hover{
		background-color:#a5eCFF;
		box-shadow:0px 0px 15px 2px #a5eCFF;
		transition-duration:0.5s;
	}

	div.gh{
		background-color:#000000;
		margin-left:20px;
		border-radius:15px;
		font-family:'College';
		font-weight:600;
		transition-duration:3s;
	}

	div.gh:hover{
		background-color:#ababab;
		box-shadow:0px 0px 15px 2px #ababab;
		transition-duration:0.5s;
	}
