
@font-face {
    font-family: "Pico";
    src: url(../font/PICOBLA.TTF);
}

@font-face {
    font-family: "College";
    src: url(../font/COLLEGIA.ttf);
}

	
body{
	background:url('../img/bg.jpg') center center no-repeat fixed;
	-moz-background-size: cover;
	background-size: cover;
	color:#221D23;
	padding:0 25px;
}

div.header {
	background:rgba(171, 171, 171, 0.3);
	padding:20px;
	margin:20px;
}

div.in{
	background:rgba(171, 171, 171, 0.7);
	
}

div.container{
	background:rgba(171, 171, 171, 0.3);
	padding:20px;
	margin:20px;
}

div.header h1{
	color:white;
	font-family: 'Raleway';
	font-weight:300;
	font-size:43px;
	text-shadow:0px 0px 15px #555555;
}

div.wrap{
	//background:red;
	display:inline-block;
	vertical-align:top;
	margin:10px;
	padding:10px;
}

div.contact ul{
	padding-left:0px;
}

div.contact ul li{	
	font-size:20px;
	line-height:22px;
	list-style:none;
	display:inline-block;
	text-align:center;
}

div.contact a{
	width:85px;
	color:white;
	text-decoration:none;
	padding:15px;
	display:block;
}

div.my{
	background-color:#689FC9;
	border-radius:15px;
	font-family:'Raleway';
	font-weight:600;
}

div.fb{
	margin-left:20px;
	border-radius:15px;
	background-color:#3A5795;
	font-family:Arial;
	font-weight:600;
}

div.ttr{
	background-color:#55ACEE;
	border-radius:15px;
	margin-left:20px;
	font-family:'Pico';
	font-weight:600;
}

div.gh{
	margin-left:20px;
	background-color:black;
	border-radius:15px;
	font-family:'College';
	font-weight:600;
}

div.my:hover {
	background-color:#78AFD9;
	box-shadow:0px 0px 15px 2px #78AFD9;
}

div.fb:hover{
	background-color:#4A67a5;
	box-shadow:0px 0px 15px 2px #4A67a5;
}

div.ttr:hover{
	background-color:#75BCFF;
	box-shadow:0px 0px 15px 2px #75BCFF;
}

div.gh:hover{
	background-color:#454545;
	box-shadow:0px 0px 15px 5px #454545;
}

