img{
	height:auto;
}
	
body{
	background:url('https://farm8.staticflickr.com/7582/15328861334_a973364016_c.jpg') center center no-repeat fixed;
	background-size: cover;
	color:#221D23;
	font-family: 'Noto Sans', sans-serif;
	padding:0 25px	;
}

div.header {
	background:rgba(171, 171, 171, 0.3);
	padding:20px;
	margin:20px;
}

div.in{
	background:rgba(171, 171, 171, 0.7);
}

div.container{
	background:rgba(171, 171, 171, 0.3);
	padding:20px;
	margin:20px;
}

div.header h1{
	color:white;
	font-family: 'Raleway';
	font-weight:300;
	font-size:43px;
	text-shadow:0px 0px 15px #555555;
}

div.wrap{
	display:inline-block;
	vertical-align:top;
	margin:10px;
	padding:10px;
}

ul{
	padding-left:0px;
}

div.contact ul li{	
	font-size:20px;
	line-height:22px;
	list-style:none;
	display:inline-block;
	text-align:center;
}

div.contact a{
	width:85px;
	color:white;
	text-decoration:none;
	padding:15px;
	display:block;
}

ul.tabs{
	margin-bottom:0;
}

ul.tabs li{
	display:inline-block;
	list-style-type:none;
}
ul.tabs li a{
	color:#221D23;
	cursor: grab;
	text-decoration:none;
	padding:10px;
}

div.tab{
	min-height:200px;
}

div.box{
	background:rgba(171, 171, 171, 0.7);
	display:inline-block;
	min-width:300px;
	padding:20px 40px 20px 40px;
	margin-left:20px;
	margin-right:20px;
	border:1px solid white;
}


